<div class="leftPartContainer">
    <div class="leftPart" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center start">

        <div routerLink="party" class="party" fxLayoutAlign=" center" fxLayout="row" fxLayoutGap="20px">
            <mat-icon>account_circle</mat-icon>
            <a>Party</a>
        </div>
        <div routerLink="product" class="product" fxLayoutAlign=" center" fxLayout="row" fxLayoutGap="20px">
            <mat-icon>add_shopping_cart</mat-icon>
            <a>Product</a>
        </div>
        <div routerLink="order" class="order" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="20px">
            <mat-icon>assignment_turned_in</mat-icon>
            <a>Order</a>
        </div>
        <div routerLink="courier" class="courier" fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="20px">
            <mat-icon>local_shipping</mat-icon>
            <a>Courier</a>
        </div>

    </div>
</div>
