<div class="container" fxLayout="row" fxFill>
    <!-- background image -->

    <img class="container-img" fxFlex="100" src="assets/annie-spratt-pKpipZVVEC0-unsplash.jpg">
    <div class="formContainer mat-elevation-z8" fxLayout="row" fxLayoutAlign="center center">

        <!-- form field -->

        <form [formGroup]="formDetail" (ngSubmit)="submitUpdateDetail()" fxLayout="column"
            fxLayoutAlign="space-evenly center">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" class="title">
                <img src="assets/shopping-icon-2184065_1280.webp">
                <h1>E SHOP STOP</h1>
            </div>

            <div fxLayout="column" fxLayoutGap="5px" class="email">
                <label>Email</label>
                <input type="email" formControlName="email">
                <mat-error *ngIf="email?.hasError('required') && email?.touched">Email is required</mat-error>
            </div>

            <div fxLayout="column" fxLayoutGap="5px" class="password">
                <label>Password</label>
                <input type="password" formControlName="password">
                <div fxLayout="row" fxLayoutAlign="space-between none">
                    <div>
                        <mat-error *ngIf="psw?.hasError('required') && psw?.touched">Password is required</mat-error>
                        <mat-error *ngIf="psw?.hasError('pattern')">Enter valid Password</mat-error>
                    </div>
                    <mat-hint>minimum length must be 8</mat-hint>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="5px" class="password">
                <label>Confirm Password</label>
                <input type="password" (focus)="focus()" formControlName="confirmPassword">
                <mat-error *ngIf="cpsw?.hasError('required') && cpsw?.touched">Confirm Password is required</mat-error>
                <mat-error *ngIf="cpsw?.hasError('passwordVerification') && checkFocus">Password and Confirm Password
                    must be same</mat-error>
            </div>
    
            <div fxLayout="row" fxLayoutGap="5px">
                <button mat-raised-button>Submit</button>
                <button routerLink="/login" mat-raised-button>Back</button>
            </div>

        </form>
    </div>
</div>